{% extends "base.html" %}

{% block body %}
<br>
<hr>
<h4 style="text-align:center">About Job</h4>
<hr >
<p style="color:#F46818; font-size: 22px;">A job portal, also known as a career portal, is a modern name for an online job board that helps applicants find jobs and 
    aids employers in their quest to locate ideal candidates. 
    Career websites, such as Monster, Indeed and SimplyHired, have 
    job portals that offer a broad range of jobs in a vast number of fields</p>
<br>
{% endblock body %}